# pip install --requirement requirements.txt
# https://pypi.org/

pylint
autopep8

rich

# setuptools
# wheel
# typing-extensions
# cryptography

# pytest

# jupyter
# ipykernel
# ipywidgets
# nbconvert

# tqdm

# requests
# urllib3
# beautifulsoup
# webdriver_manager
# selenium

# matplotlib
# seaborn
# plotly
# manimgl

# numpy
# scipy
# scikit-learn
# pandas

# lightgbm

# torch
# torchvision

# transformers


# opencv-python
# pillow
# piexif

# nltk
# gensim
# spacy
# allennlp

# librosa

# gradio
# streamlit

# networkx

# gurobi